<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
	<fieldset>
		<legend>Resend confirmation instructions</legend>
		<dl>
			<dt>
				<label>Email</label>
			</dt>
			<dd>
				<%= f.email_field :email, :class => 'large' %>
			</dd>
		</dl>
	</fieldset>
  <%= f.submit "Resend confirmation instructions", :class => 'button right' %>
<% end %>