<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to 'Tests preparatorios', trials_path %></li>
	<li>Añadir test</li>
</ul>

<article class="full-block clearfix">
	<div class="article-container">
		
		<!-- Header  -->
		<header>
			<h2>Añadir Test preparatorio</h2>
		</header>
		<!-- \Header  -->

		<section>
			<%= render 'form' %>
		</section>
		
	</div>
</article>