<div class="datatable_custom_filter">
	<span><b>Filtrar resultados por fecha</b></span>Desde: <input type="text" class="date_mask" id="fmin"></span>
	Hasta: <input type="text" class="date_mask" id="fmax">
	<hr class="gray_color">
</div>