<li class="event">
	<span class="logs-timestamp"><%= incident.date_incident.strftime("%A, %d %B %Y") %></span>
	<h4><%= link_to "#{incident.title}", edit_incident_path(incident), :class => "logs-event" %></h4>
	<div><%=raw incident.description %></div>
	<hr>
	<em class="logs-meta">
		Etiquetas -
		<% if incident.tags.any? %>
			<% incident.tags.each do |tag| %>
				<%= link_to tag.name, incidents_url(:tag => tag.name) %>,
			<% end %>
		<% else %>
			<i>No se ha añadido ninguna</i>
		<% end %>
	</em>
</li>
