<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to 'Competiciones', competitions_path %></li>
	<li>A침adir competici칩n</li>
</ul>

<article class="full-block clearfix">
	<div class="article-container">
		
		<!-- Header  -->
		<header>
			<h2>A침adir Competici칩n</h2>
		</header>
		<!-- \Header  -->

		<section>
			<%= render 'form' %>
		</section>
		
	</div>
</article>