<!-- BreadCumbs -->
<%= render 'layouts/breadcumbs' %>
<!-- /Breadcumbs -->

<!-- Full Content Block -->
<!-- Note that only 1st article need clearfix class for clearing -->
<article class="full-block clearfix">

	<!-- Article Container for safe floating -->
	<div class="article-container">
	
		<!-- Article Header -->
		<header>
			<h2>Pages#index</h2>
		</header>
		<!-- /Article Header -->
		
		<!-- Article Content -->
		<section>
			<p>Find me in app/views/pages/index.html.erb</p>
		</section>
		<!-- /Article Content -->
	
	</div>
	<!-- /Article Container -->
	
</article>
<!-- /Full Content Block -->
