<div id="pageinfo">
	<div class="container container-twelve">
		<div class="pagetitle eight columns">
			<h1>Tour</h1><h2>Conoce todas las novedades</h2>
		</div>
		<div class="pagesnav four columns">
			<div class="breadcrumbs">
				<%= link_to 'Inicio', root_path %> &nbsp;&nbsp;/&nbsp;&nbsp; <%= link_to 'Tour', '#', :class => "active" %>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div><!-- //pageinfo -->

<div id="content" class="container container-twelve">

	<div id="blog-posts2" class="nine columns">
		
		<div class="post">
			<div class="post-slideshow">
				<ul class="slideshow">
	        <li><%= image_tag "theme/media/post-1-2.jpg" %></li>
	        <li><%= image_tag "theme/media/post-2-2.jpg" %></li>
      	</ul>
			</div>
			<div class="post-content">
				<h4><span class="post-type gallery-post"></span><a href="blog_post.html">Facer labore ut ius, ex per utamur</a></h4>
				<div class="details">Esto es un detalle más</div>
				<p>Mea regione tota prodesset at eum. Ornatus insolens concludaturque mei, eos ex sint patrioque. Movet utinam eos in, ius modo tincidunt reprimique. Periculis efficiendi eos te, an vidit eleifend complectitur vim.</p>
				<p><a href="blog_post.html">Read More</a></p>
			</div>
		</div>
		
		<hr />
		
		
	</div>

	<div id="sidebar" class="three columns">

		<div class="widget">
			<h4>What People Say</h4>
			<div class="testimonials-wrapper">
				<div class="testimonial">
					<div class="testimonial-content">Vim aperiri gloriatur cu. Et dicat democritum eam, iudicabit cum an, prima nostrud laboramus eos id. Mea vel homero due no aeterno, te pro prima.</div>
					<div class="testimonial-author"><a href="#">John Doe</a></div>
				</div>
				<div class="testimonial">
					<div class="testimonial-content">Vim aperiri gloriatur cu. Et dicat democritum eam, iudicabit cum an, prima nostrud laboramus eos id. Mea vel homero due no aeterno, te pro prima.</div>
					<div class="testimonial-author"><a href="#">Annah More</a></div>
				</div>
				<div class="testimonial">
					<div class="testimonial-content">Vim aperiri gloriatur cu. Et dicat democritum eam, iudicabit cum an, prima nostrud laboramus eos id. Mea vel homero due no aeterno, te pro prima.</div>
					<div class="testimonial-author"><a href="#">Robert Doe</a></div>
				</div>
				<div class="testimonial">
					<div class="testimonial-content">Vim aperiri gloriatur cu. Et dicat democritum eam, iudicabit cum an, prima nostrud laboramus eos id. Mea vel homero due no aeterno, te pro prima.</div>
					<div class="testimonial-author"><a href="#">Evelynn Mo</a></div>
				</div>
				<div class="testimonial-next"></div>
				<div class="testimonial-prev"></div>
			</div>
		</div>

	</div><!-- #sidebar -->


	<div class="clear"></div>

</div><!-- //content -->