<% content_for :google_maps do %>
	<!--/ Google Maps -->
	<%= javascript_include_tag "frontend/jquery" %>
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <%= javascript_include_tag "frontend/gmap3" %>
    
  <script type="text/javascript">
    $(function(){
      $('#gMap').gmap3(
        { action: 'addMarker',
          address: "Universidad de Las Palmas de Gran Canaria, Las Palmas",
          map:{
            center: true,
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          }
        }
      );
    });
  </script>
<% end %>

<% content_for :google_maps_footer do %>
	<%= javascript_include_tag "frontend/contact" %>
  <script type="text/javascript">
		$(document).ready(function() {
			// Placeholder input fields 
			$('.placeholder').each(function() {
		    var $this = $(this);
		    var defaultVal = $this.attr('title');
				
				$this.val(defaultVal);
									
        $this.focus(function() {
          if ($this.val() === defaultVal) {
            $this.val('');
          }
        });

        $this.blur(function() {
          if ($this.val().length === 0) {
            $this.val(defaultVal);
          }
        });
	    });
		});
	</script>
<% end %>

<div id="orange-hero">
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="breadcrumb">
					<li><%= link_to "Inicio", root_path %> <span class="divider">/</span></li>
					<li class="active">Contacto</li>
				</ul>
			</div><!--/span12-->
		</div><!--/row-->
	</div><!--/container-->
</div><!--/orange hero-->

<div id="grey-content" class="grey-inner-headings">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h2>Ponte en contacto con nosotros</h2>
				<p>¿Necesitas ayuda con algún componente de nuestra aplicación, o simplemente quieres comentarnos cualquier sugerencia de mejora?<br>
				No dudes en contactar con nosotros enviándonos un mensaje a través de cualquiera de los medios que se listan a continuación.</p>
			</div><!--/span12-->
		</div><!--/row-->
	</div><!--/container-->
</div><!--/grey content -->

<div id="gMap" class="gmap3"></div>

<div id="white-content">
	<div class="container">
		<div class="row">
			<div class="span9">
				<h4>Envíanos un mensaje</h4>
				<hr>
				
        <div class="alert" id="smoothieContactResponse" style="display: none;"></div>
                  
				<div id="contact_form">
					<form action="#" id="form" method="post" class="smoothieContact"> 
            <div class="control-group">
              <div class="controls">
								<input class="placeholder span3 required" type="text" name="name" title="Tu Nombre" placeholder="Tu Nombre" />
                <span class="help-inline"></span>
              </div>
						</div>
            <div class="control-group">
            	<div class="controls">
                <input class="placeholder span3 required" type="email" name="email" title="Tu Email"  placeholder="Tu Email" />
                <span class="help-inline"></span> 
              </div>
						</div>
            <div class="control-group">
            	<div class="controls">
								<textarea rows="10" class="placeholder span9 required" name="message" placeholder="Tu Mensaje" title="Tu Mensaje"></textarea>
           			<span class="help-inline"></span>
              </div> 
            </div>
						<input class="submit darkbtn" type="submit" value="Enviar mensaje" />
					</form> 
				</div><!--/contact form-->
						
			</div><!--/span 12-->
			
			<div class="span3">
				<div class="sidebar-wrap">
					<h4>Información de contacto</h4>
					<hr>
					<address>
						<strong>Universidad Las Palmas de GC</strong><br>
						Escuela de Ingeniería Informática<br>
						Las Palmas de GC, CP 35017<br>
						<abbr title="Phone">P:</abbr> (928) 458 719
					</address>

					<address class="nomarg">
					  <strong>Roberto Marco</strong><br>
					  <a href="mailto:#">quswimming@gmail.com</a>
					</address>
				</div><!--/sidebar wrap-->
				
				<div class="sidebar-wrap">
					<h4>Agradecimiento</h4>
					<p>Gracias por colaborar con nosotros comentando aquellos detalles que puedan ser mejorados.</p>
				</div><!--/sidebar wrap-->
			</div><!--/span3-->
			
		</div><!--/row-->
		
	</div><!--/container-->
	
</div><!--/white content-->