<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= link_to 'Nadadores', swimmers_path %></li>
	<li>Añadir nadador</li>
</ul>

<article class="full-block clearfix">
	<div class="article-container">
		
		<!-- Header  -->
		<header>
			<h2>Añadir nadador</h2>
		</header>
		<!-- \Header  -->

		<section>
			<%= render 'form' %>
			<%= link_to 'Back', swimmers_path %>
		</section>
		
	</div>
</article>





