<!doctype html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>Login | SWN</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	
	<!-- CSS Links -->
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/colors.css">
	<link rel="stylesheet" href="/stylesheets/jquery.tipsy.css">
	
	<!-- Google WebFonts -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
	
	<script src="/javascripts/libs/modernizr-1.7.min.js"></script>
</head>

<body class="login">
	<section role="main">

		<a href="/" title="Back to Homepage"></a>

		<!-- Login box -->
		<article id="login-box">

			<div class="article-container">

				<!-- Notification -->
				<% if notice || alert %>
					<div class="notification error">
						<a href="#" class="close-notification" title="Hide Notification" rel="tooltip">x</a>
						<p><strong>Error notification</strong><%= notice %> <%= alert %></p>
					</div>
				<% end %>
				<!-- /Notification -->
				
				<%= yield %>
			
			</div>

		</article>
		<!-- /Login box -->		
		
		<%= render :partial => "devise/shared/links" %>
	
	</section>
				

	<!-- JS Libs at the end for faster loading -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/jquery/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
	<script src="/javascripts/libs/selectivizr.js"></script>
	<script src="/javascripts/jquery/jquery.tipsy.js"></script>
	<script src="/javascripts/login.js"></script>
</body>