<ul id="breadcrumbs">
	<li><%= link_to 'Dashboard', root_path, :title => "Dashboard" %></li>
	<li><%= t('accounts.breadcumbs.profile_configuration') %></li>
</ul>

<article class="full-block clearfix">
	<div class="article-container">
		
		<header>
			<h2><%= t('.header') %></h2>
		</header>
		
		<section>
			<%= render 'form' %>
		</section>
		
	</div>
</article>